body {
    padding: 60px 0 40px 0;
}
.editor-container {
    position: relative;
    height: 280px;
}
.editor {
    display: block
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.45;
}
#source_code-textarea {
    visibility: hidden;
}